@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Greed Island Card Database</h1>
    <p class="lead">Track, view, and manage all Greed Island cards.</p>

    <!-- Logo -->
    <img src="~/images/greed-island-logo.png" alt="Greed Island Logo" class="img-fluid my-4" width="300" />

    <!-- TODO: You can add featured cards preview here -->
    <a class="btn btn-primary btn-lg" asp-controller="Cards" asp-action="Index">View Cards</a>
</div>
